*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.header__top{
   display: flex;
    align-items: center;
    color: black;
    justify-content: space-between;
}
.head{
    background: white;
    padding-top:26px;
    height: 100vh;
    position: relative;
}
.header__right{
    display: flex;
    align-items: center;
}